/* Main Styles TOC

	#1 Globals
	#2 Header
	#3 Footer
	#4 Home
	#5 Global Interior Styles
	#6 Secondary Navigation
	#7 Service Overview
	#8 Service Detail
	#9 About
	#10 Global Contact Forms
	#11 Knowledge Resources Landing
	#12 Knowledge Resources Detail
	#13 Knowledge Resources: Webinars
	#14 Knowledge Resources: Speaking Engagements
	#15 Knowledge Resources: Mobility Solutions
	#16 Mobility Solutions Single
	#17 Knowledge Resources: Tax Updates
	#18 Subject Matters Single
	#19 Contact Us
	#20 Privacy Policy
	#21 News
	#22 Knowledge Resources Landing
	#23 404
*/


/* #1 Globals */

body {
	font-family: $proxima;
	background: $darkblue;
}

html,body {
	height: 100vh;
}

.wf-loading {
	visibility: hidden;
}

.ps-container>.ps-scrollbar-y-rail {
	z-index: 9999;
}

textarea:focus, input:focus{
    outline: none;
}


.blur {
	@include filter(blur(3px));
}

.reveal {
	background-color: hsla(223, 59%, 15%, 0.9);
	padding-bottom: 200px;

	@include breakpoint(medium) {
		padding-bottom: 0;
	}
}

.reveal.full.without-overlay {
	top: 0 !important;
}

#back-to-top {
	width: 50px;
	height: 50px;
	background: red;
}

strong {
	font-weight: 700 !important;
}

.museo-font {
	font-family: $museo !important;
}

.asterisk {
	font-size: 13px !important;
}

.article-intro {
	font-size: 20px;
	line-height: 36px;
	font-weight: 500;
	font-family: $museo;
	display: block;
}

.tax-qa-hours {
	font-size: 26px;
	font-weight: 700;
	display: block;
	line-height: 28px;
}

.tax-qa-hours-answered {
	font-size: 16px;
	font-weight: 300;
	display: block;	
}

.tax-qa-price {
	font-size: 35px;
	font-weight: 700;
	display: block;	
	margin-top: 10px;
}

.font-weight-light {
	font-weight: 300 !important;
}

.button-white {
	display: block;
	border: solid 1px #b6b6b6;
	text-align: center;
	margin-bottom: 36px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	color: #6d6d6d;
	padding: 20px 0;
	box-shadow: 10px 10px 10px #f5f5f5;

	&:hover {
		color: #6d6d6d;
	}
}

div.accordion[role="tablist"] {
	background: transparent;
	margin-top: 20px;

	.accordion-item {

		border-top: solid 1px #b5b5b5;
		padding: 10px 0;

		&:last-child {
			border-bottom: solid 1px #b5b5b5;
		}

		.accordion-title {
			padding: 0 0 0 20px;
			border: 0;
			font-size: 18px;
			line-height: 1;
			color: #868686;
			font-weight: 700;
			position: relative;
			background: none;


			&:before {
				position: absolute;
				top: 14px;
				left: 0;
				content: "";
				width: 13px;
				height: 6px;
				background: url("../images/arrow-accordion.svg") left top no-repeat;
				background-size: 13px 6px;
				transition: all 0.3s ease;
				transform: rotate(-90deg);
			}



			&[aria-selected="true"] {

				&:before {
					transform: rotate(0deg);
				}
				
			}
		}	

		.accordion-content {
			padding: 10px 0;
			border: 0;
			background: none;
			color: #868686;

			p, li {
				font-size: 18px;
				line-height: 26px;
			}

			p {
				padding-left: 20px;

				&:last-child {
					margin-bottom: 0 !important;
				}
			}

			ul {
				padding-left: 22px;

				& > li {
					background: url("../images/bullet-accordion.svg") left 10px no-repeat;
					background-size: 4px 4px;
					padding-left: 10px;

					ul {
						padding-left: 0px;

						& > li {
							position: relative;
							padding-left: 10px;
							background: none;

							&:before {
								position: absolute;
								top: 11px;
								left: 0;
								width: 5px;
								height: 2px;
								background: #868686;
								content: "";
							}
						}
					}


				}
			}
		}			
	}
}

.visual-editor {

	p {
		font-size: 18px;
		line-height: 26px;
		font-weight: 400;
		margin-bottom: 20px;
		font-family: $proxima !important;
	}
	
	strong {
		font-weight: bold !important;
	}


	.intro-heading {
		font-size: 22px;
		font-family: $museo;
		font-weight: 500;
	}

	.contact-us-name {
		font-size: 18px;
		font-family: $museo;	
		font-weight: 500;
	}

	.contact-us-number {
		font-size: 20px;
		font-family: $proxima;
		font-weight: 700;
	}	
}


/* #2 Header */


body[data-page="home"] {

	header#masthead {
		background: none !important;
	}

}


.ie {
	position: absolute !important;
	right: 250px !important;
	z-index: 9999;
}

header#masthead {
	position: fixed;
	z-index: 1000;
	top: 0;
	width: 100%;
	background: none;

	@include breakpoint(xlarge) {
		height: 70px;

	}

	.title-bar {

		background: hsla(0,100%,0%,0.5);
		height: 70px;
		padding: 8px 40px;
		position: relative;

		.title-bar-title {
			margin-top: 12px;
			display: block;
			//position: relative;

			a {
				display: block;
				width: 105px;

				img {
					height: 30px;
				}
			}
		}

		.title-bar-home {
			display: none;
		}

		.menu-icon {
			margin-top: 18px;

		}

	}

	.top-bar {

		@include breakpoint(xlarge) {
			background: hsla(0,100%,0%,0.5);
			height: 70px;
			padding: 0 40px;
		}

		ul.menu {
			background: transparent;

			@include breakpoint(xlarge) {
				height: 70px;
			}

			&> .home {
				margin-top: 20px;

				&> a {
					display: block;
					padding: 0 20px 0 0;

					&:hover {
						background: transparent;
					}
				}

				& > a#nav-logo {

					display: block;
					height: 30px;

					img {
						height: 30px;
						display: block;
					}
				}

			}

			li {

				@include breakpoint(xlarge) {
					float: left;		
					height: 70px;			
				}

				&:not(:last-child) {

					@include breakpoint(xlarge) {
						margin-right: 30px;
						border-right: none;
					}

				}

				&:not(.home) {
					a {
						position: relative;
						@include breakpoint(xlarge) {
							text-transform: uppercase;
							font-size: 12px;
							line-height: 12px;
							padding: 0 0 3px 0;	
							height: auto;
							margin-top: 30px;


							&:before {
								position: absolute;
								bottom: -3px;
								left: 0;
								height: 2px;
								width: 0%;
								background: linear-gradient(to right, #badfe9 0%, #01b9f2 100%);
								content: "";
								transition: all 0.3s ease;

							}							
	
						}

						&:hover {

					
							@include breakpoint(xlarge) {
								background: transparent;

								&:before {
									width: 100%;
									background: linear-gradient(to right, #badfe9 0%, #01b9f2 100%);
									
								}	
							
							}

							@keyframes navhover {
							    0% {
							    	width: 0%;
							    }

							    100% {
							    	width: 100%;
							    }
							}

						}						

					}					
				}
				
				&.nav-financial-solutions{
					a {
						@include breakpoint(xlarge) {
							&:before {
								background: linear-gradient(to right, #d2e8bf 0%, #b1d237 100%);
							}
						}

						&:hover {
							@include breakpoint(xlarge) {
								&:before {
									background: linear-gradient(to right, #d2e8bf 0%, #b1d237 100%);
								}
							}
						}
					}
				}

				&.nav-mobility-software {
					a {
						@include breakpoint(xlarge) {
							&:before {
								background: linear-gradient(to right, #b9e9e5 0%, #4ac0b6 100%);
							}
						}

						&:hover {
							@include breakpoint(xlarge) {
								&:before {
									background: linear-gradient(to right, #b9e9e5 0%, #4ac0b6 100%);
								}
							}
						}
					}					
				}

				&.nav-tax-services {
					a {
						@include breakpoint(xlarge) {
							&:before {
								background: linear-gradient(to right, #e9e8b9 0%, #fed102 100%);
							}
						}

						&:hover {
							@include breakpoint(xlarge) {
								&:before {
									background: linear-gradient(to right, #e9e8b9 0%, #fed102 100%);
								}
							}
						}
					}					
				}
			}
		}
	}
}

// Nav Current States 

body[data-page="financial-solutions"] .top-bar ul.menu li.current_page_item a,
body[data-page="financial-management"] .top-bar ul.menu li.current-page-ancestor a,
body[data-page="compensation-services"] .top-bar ul.menu li.current-page-ancestor a,
body[data-page="home-sale-closing-services"] .top-bar ul.menu li.current-page-ancestor a {
	&:before {
		width: 100% !important;
		background: linear-gradient(to right, #d2e8bf 0%, #b1d237 100%) !important;
	}
}

body[data-page="tax-services"] .top-bar ul.menu li.current_page_item a,
body[data-page="gross-up-audits"] .top-bar ul.menu li.current-page-ancestor a,
body[data-page="annual-tax-guides"] .top-bar ul.menu li.current-page-ancestor a,
body[data-page="individual-tax-return-preparation"] .top-bar ul.menu li.current-page-ancestor a,
body[data-page="policy-tax-consultin"] .top-bar ul.menu li.current-page-ancestor a,
body[data-page="pre-move-consulting"] .top-bar ul.menu li.current-page-ancestor a,
body[data-page="tax-qa-subscription"] .top-bar ul.menu li.current-page-ancestor a {
	&:before {
		width: 100% !important;
		background: linear-gradient(to right, #e9e8b9 0%, #fed102 100%) !important;
	}
}


body[data-page="mobility-software"] .top-bar ul.menu li.current_page_item a,
body[data-page="movetrack"] .top-bar ul.menu li.current-page-ancestor a,
body[data-page="lumpsum"] .top-bar ul.menu li.current-page-ancestor a,
body[data-page="costestimator"] .top-bar ul.menu li.current-page-ancestor a {
	&:before {
		width: 100% !important;
		background: linear-gradient(to right, #b9e9e5 0%, #4ac0b6 100%) !important;
	}
}

body.single-mobility-solutions .top-bar ul.menu li#menu-item-21 a,
body.single-subject-matters .top-bar ul.menu li#menu-item-21 a,
body[data-page="knowledge-resources"] .top-bar ul.menu li.current_page_item a,
body[data-page="webinars"] .top-bar ul.menu li.current-page-ancestor a,
body[data-page="speaking-engagements"] .top-bar ul.menu li.current-page-ancestor a,
body[data-page="mobility-solutions"] .top-bar ul.menu li.current-page-ancestor a,
body[data-page="tax-updates"] .top-bar ul.menu li.current-page-ancestor a,
body[data-page="subject-matters"] .top-bar ul.menu li.current-page-ancestor a,
body[data-page="news"] .top-bar ul.menu li.current_page_item a,
body[data-page="contact-us"] .top-bar ul.menu li.current_page_item a,
body[data-page="about"] .top-bar ul.menu li.current_page_item a {
	&:before {
		width: 100% !important;
		background: linear-gradient(to right, #badfe9 0%, #01b9f2 100%) !important;
	}
}	

// Mobile Menu

.off-canvas>ul.menu a {
    color: #fefefe;
    font-weight: 500;
    font-size: 14px;
}


/* #3 Footer */

#footer-container {
	overflow: auto;
	background: #eaebec;
	padding-bottom: 25px;
	margin-top: 0;
	border-top: 0;

	footer {
		color: black;
		margin-bottom: 0;

		div div div div {
			margin-bottom: 30px;

			@include breakpoint(medium) {
				margin-bottom: 0;
			}
		}

		.footer-column-2 {


			@include breakpoint(medium) {
				padding-left: 20px;
				max-width: 250px;
			}
		}

		.footer-heading {
			font-weight: 500;
			text-transform: uppercase;
			font-size: 14px;
			display: block;
			margin-bottom: 5px;
			padding-bottom: 2px;
		}

		.footer-contact-heading {
			font-weight: 500;
			text-transform: uppercase;
			font-size: 14px;
			display: inline-block;
			border-bottom: solid 1px #dfa33a;
			padding-bottom: 2px;
			margin-bottom: 0;
			color: #2a323b;

			@include breakpoint(medium) {
				display: block;
			}
		}

		.footer-address-wrapper {
			margin: 13px 0;
			color: #616973;
			font-size: 14px;
			line-height: 16px;
			text-transform: uppercase;

			strong {
				font-weight: 700;
			}
		}

		.footer-page-links li a {
			display: block;
			font-weight: 500;
			font-size: 14px;
			text-transform: uppercase;
			margin-bottom: 20px;
			color: black;
		}

		form {
			input[type="email"] {
				background: #eaebec;
				border: solid 1px #abacac;
				font-family: $proxima;
				font-weight: bold;
				font-size: 14px;
				color: #6d6d6d;
				margin-bottom: 3px;
				box-shadow: none;


				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					color: #6d6d6d;
					text-transform: uppercase;
					font-size: 12px;		
				  
				}
				&::-moz-placeholder { /* Firefox 19+ */
					color: #6d6d6d;
					text-transform: uppercase;
					font-size: 12px;


				}
				&:-ms-input-placeholder { /* IE 10+ */
					color: #6d6d6d;
					text-transform: uppercase;	


				}
				&:-moz-placeholder { /* Firefox 18- */
					color: #6d6d6d;
					text-transform: uppercase;


				}							
			}

			input[type="submit"] {
				background: #006fa6;
				display: block;
				height: 40px;
				text-align: center;
				color: white;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 11px;
				font-family: $proxima;	
				border: none;
				position: relative;
				padding-left: 36px;
				padding-right: 36px;

			}

		div.wpcf7-response-output {
		    margin: 0;
		    padding: 0;
		    //clear: both;
		    border: 0;
		    color: #dfa33a;
		    font-weight: 500;
		    text-align: left;
		    font-family: $museo;
		    font-size: 14px;
		    line-height: 20px;
		}


		.wpcf7-not-valid {
			border: solid 2px #dfa33a;
		}

		.wpcf7-not-valid-tip {
			//display: block;
			display: none;
		}						

		}

		.footer-bottom {
			margin-top: 25px; // 100px;
			text-align: center;
			font-size: 10px;
			font-weight: 700;

			@include breakpoint(medium) {
				margin-top: 50px;
			}

			p {
				text-transform: uppercase;
				padding-right: 10px;
				border-right: solid 1px black;
			}

			p, ul, li {
				display: inline-block !important;

				&:not(:last-child) {
					margin-left: 10px;
					padding-right: 10px;
					border-right: solid 1px black;
				}

				&:last-child {
					margin-left: 10px;
				}

				&:first-child {
					border-right: none;

					@include breakpoint(medium) {
						border-right: solid 1px black;
					}
				}

				&> a {
					font-size: 10px;
					display: inline !important;
				}

			}
		}
	}
}

/* #4 Home */	

body.home {

	section.container {
		min-height: 100vh;
	}

	header#masthead {

		.title-bar {
			background: hsla(0,0%,100%,0.2) !important;
		}
		.top-bar {
			background: hsla(0,0%,100%,0.2) !important;
			ul.menu {
				& > .home {
					margin-top: 20px;
					
					& > a#nav-logo {
						opacity: 0;
						transition: all 0.3s ease; 
					}

					.logo-fade-in {
						opacity: 1 !important;						
					}

				}		
			}		
		}

	}   

	#page {
		clear: left;
		max-width: 100%;
		margin: 0;

		// Above the fold
		.home-scene {
			position: absolute;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
			background: url("../images/home-bg.jpg") center bottom no-repeat;
			background-size: cover;
			background-position: center bottom;
			overflow: hidden;
			will-change: opacity;

			.home-blur {
				position: absolute;
				top: 0;
				left: 0;
				width: 100vw;
				height: 100vh;
				background: url("../images/home-bg.jpg") center bottom no-repeat;
				background-size: cover;
				background-position: center bottom;					
				clip: rect(0,100vw,40px,0);
				@include filter(blur(5px));

				@include breakpoint(xlarge) {
					clip: rect(0,100vw,105px,0);
				}
			}

			.home-lines {
				position: absolute;
				top: 0;
				left: 0;
				width: 100vw;
				height: 100vh;					
				background: url("../images/lines.png") 0px -75px no-repeat;
				//background-size: cover;
				background-size: auto 800px;

				@include breakpoint(medium) {
					background-position: -20px -100px;
					background-size: auto 1100px;
				}

				@include breakpoint(medium-large) {
					background-position: -20px -110px;
					background-size: auto 1100px;					
				}
			}


// Start Logo, Dots, Intro

				    #intro-logo {
				    	position: absolute;
				    	left: 105px;
				    	top: 140px;
				    	width: 120px;

				    	@include breakpoint(medium) {
				    		width: 170px;
				    		left: 120px;
				    		top: 195px;
				    	}

				    	@include breakpoint(medium-large) {
				    		width: 170px;
				    		left: 120px;
				    		top: 180px;
				    	}		    	
				    }

				   ul#intro-dots {
				    	position: absolute;
				    	top: 0;
				    	left: 0;

				    	li {
				    		color: white;
				    		font-size: 14px;
				    		font-weight: 500;
				    		text-transform: uppercase;
				    		position: absolute;
				    		line-height: 22px;

				    		// Tax Services
				    		&:nth-of-type(1) {			    			
				    			width: 125px;
				    			padding-right: 0px;
				    			background: url("../images/intro-dot-yellow.svg") right top no-repeat;
				    			background-size: 22px 22px;
				    			left: 10px;
				    			top: 230px;

				    			@include breakpoint(medium) {
				    				left: 17px;
				    				top: 280px;
				    			}

				    			@include breakpoint(medium-large) {
				    				left: 20px;
				    				top: 280px;		    				
				    			}

				    		}

				    		//Financial Solutions
				    		&:nth-of-type(2) {	
				    			width: 195px;	    			
				    			padding-left: 30px;
				    			background: url("../images/intro-dot-green.svg") left top no-repeat;
				    			background-size: 22px 22px;
				    			left: 140px;
				    			top: 92px;

				    			@include breakpoint(medium) {
				    				left: 180px;
				    				top: 135px;
				    			}

				    			@include breakpoint(medium-large) {
				    				left: 170px;
				    				top: 122px;		    				
				    			}			    			
				    		}

				    		// Mobility Software
				    		&:nth-of-type(3) {
				    			width: 215px;	    			
				    			padding-left: 30px;
				    			background: url("../images/intro-dot-teal.svg") left top no-repeat;
				    			background-size: 22px 22px;	
				    			left: 190px;
				    			top: 212px;

				    			@include breakpoint(medium) {
				    				left: 255px;
				    				top: 290px;
				    			}

				    			@include breakpoint(medium-large) {
				    				left: 260px;
				    				top: 275px;
				    			}		    			
				    		}			    					    		

				    	}
				    }

				    .home-intro {
				    	position: absolute;
				    	bottom: 200px;
				    	width: 100%;

				    	@include breakpoint(medium-large) {
				    		bottom: 200px;
				    	}

				    	.home-intro-column {
				    		width: 90%;
				    		margin: 0 auto;
				    		padding: 0 15px;

				    		@include breakpoint(medium) {
				    			width: 90%;
				    		}

							.home-intro-content {
						    	color: white;
						    	font-family: $museo !important;
						    	font-size: 20px;
						    	line-height: 23px;
						    	font-weight: 700;
						    	text-align: center;

						    	@include breakpoint(medium) {
							    	font-size: 28px;
							    	line-height: 44px;
						    	}

						    	@include breakpoint(medium-large) {
							    	font-size: 32px;
							    	line-height: 48px;				    		
						    	}				
							}				    		

				    	}
				    }

// End Logo, Dots, Intro			
		}		

		.wrapper {
			position: absolute;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
			margin-top: 70px;

			@include breakpoint(xlarge) {
				margin-top: 105px;	
			}

			.home-header-gap {
				height: 1px; // 100px
			} 			
			
			.home-content {
			    width: 100%;
			    z-index: 10;
			    position: relative;


				.home-scene-content {
				    position: fixed;
				    top: 0;
				    left: 0;
				    width: 100%;
				    height: 100%;
				    overflow: hidden;
				    -webkit-transition: 0.22s linear;
				    -moz-transition: 0.22s linear;
				    transition: 0.22s linear;

// Start Logo, Dots, Intro

// End Logo, Dots and Intro				    

					// Services & Solutions Arrow
					.js-scroll-wrap {
						position: absolute;
						bottom: 10px;
						left: 50vw;
						@include transform(translate(-110px, 0));
						text-align: center;
						width: 222px;
						transition: 0.75s cubic-bezier(1, 0, 0, 1);

						span {
							font-size: 18px;
							font-weight: 700;
							color: white;
							display: block;
							margin-bottom: 10px;

							@include breakpoint(large) {
								font-size: 20px;
								display: inline-block;
							}
						}

						img {
							opacity: 0.5;
						}

						.arrow-btn {
							// if decide to make mobile button arrow
							display: inline-block;
							width: 40px;
							height: 40px;
							background: url("../images/arrow-down.svg") 50% top no-repeat;	
							opacity: 0.5;

							@include breakpoint(medium) {
								width: 70px;
								height: 70px;
								background: url("../images/arrow-down.svg") left top no-repeat;
							}

						}
					}

					.js-scroll-wrap[data-active="off"] {
					   @include transform(translate(-110px, 150px));
					}				    
				}				    
			}							
		}				


		// Below the fold
		.standard-content-lockup {
		    color: white;
		    //padding-bottom: 100px;
		    position: relative;
		    z-index: 11;

		    .home-main p {
		    	font-family: $museo;
		    	font-size: 20px;
		    	line-height: 30px;
		    	font-weight: 300;
		    	text-align: center;

		    	@include breakpoint(medium) {
			    	font-size: 28px;
			    	line-height: 48px;		    		
		    	}
		    }

		    .home-categories {
		    	margin-top: 110px;
		    	padding-bottom: 100px;

		    	@include breakpoint(medium) {
			    	margin-top: 215px;
			    	padding-bottom: 230px;		    		
		    	}

		    	.home-category {
		    		margin-bottom: 100px;

			    	ul {
			    		padding-top: 115px;

			    		li {
			    			text-align: center;

			    			&> a {
			    				font-size: 21px;
			    				color: white;
			    				opacity: 0.5;
			    				transition: all 0.2s ease;
			    			}

			    			h2 {
			    				text-transform: uppercase;
			    				font-size: 24px;
			    				font-weight: 700;

			    				a {
			    					color: white;
			    					display: inline-block;
			    					padding-bottom: 10px;
			    					opacity: 0.5;
			    					transition: all 0.2s ease;
			    					position: relative;

			    				}
			    			}
		    			
			    		}

			    		li:not(:first-child) {
			    			margin: 25px 0;
			    		}
			    	}

			    	&:hover {

			    		ul li > a {
			    			opacity: 1;
			    		}

			    		ul li h2 > a {
			    			opacity: 1;
			    		}
			    	}		    		

		    	}




		    	&> div:nth-of-type(1) {
		    		background: url("../images/main-dot-gray.svg") center top no-repeat;
		    		background-size: 70px 70px;

		    		ul li h2 a:after {
		    				content: "";
		    				position: absolute;
		    				bottom: 0;
		    				left: 0;
		    				width: 0%;
		    				border-bottom: solid 1px $teal;
		    				transition: all 0.3s ease;		    			
		    		}

		    		&:hover {
						background: url("../images/main-dot-teal.svg") center top no-repeat !important;
						background-size: 70px 70px !important;

						ul li h2 a:after {
							width: 100%;
						} 
		    		}
		    	
		    	}							    	
		    	

		    	&> div:nth-of-type(2) {
		    		background: url("../images/main-dot-gray.svg") center top no-repeat;
		    		background-size: 70px 70px;

		    		ul li h2 a:after {
		    				content: "";
		    				position: absolute;
		    				bottom: 0;
		    				left: 0;
		    				width: 0%;
		    				border-bottom: solid 1px $green;
		    				transition: all 0.3s ease;		    			
		    		}

		    		&:hover {
						background: url("../images/main-dot-green.svg") center top no-repeat !important;
						background-size: 70px 70px !important;

						ul li h2 a:after {
							width: 100%;
						} 
		    		}		    		
		    	}			    	

		    	&> div:nth-of-type(3) {
		    		background: url("../images/main-dot-gray.svg") center top no-repeat;
		    		background-size: 70px 70px;
		    		
		    		ul li h2 a:after {
		    				content: "";
		    				position: absolute;
		    				bottom: 0;
		    				left: 0;
		    				width: 0%;
		    				border-bottom: solid 1px $yellow;
		    				transition: all 0.3s ease;		    			
		    		}

		    		&:hover {
						background: url("../images/main-dot-yellow.svg") center top no-repeat !important;
						background-size: 70px 70px !important;

						ul li h2 a:after {
							width: 100%;
						} 
		    		}
		    	}			    				    				    				    	
		    }

			#footer-container {
				padding-bottom: 100px;
			}		    
		}					
	}
}

// #5 Global Interior Styles

#page.interior {
	clear: left;
	max-width: 100%;
	margin: 0;
	
	.lines {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;					
		background: url("../images/lines.png") left top no-repeat;
		opacity: 0.5;
		z-index: 2;
	}

	.layer-up {
		position: relative;
		z-index: 3;
	}	

	.interior-blur {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;			
		clip: rect(0,100vw,70px,0);
		@include filter(blur(5px));
	}

	// Not on service detail pages
	.interior-intro {
		text-align: center;
		color: white;
		margin-top: 85px;

		@include breakpoint(medium) {
			margin-top: 115px;
		}

		@include breakpoint(large) {
			margin-top: 210px;
		}

		.site-title {
			font-size: 14px;
			line-height: 14px;
			display: block;

			@include breakpoint(medium) {
				font-size: 22px;
				line-height: 22px;
			}
		}

		h1 {
			font-family: $museo;
			font-size: 26px;
			line-height: 38px;
			font-weight: 700;
			margin-bottom: 5px;

			@include breakpoint(medium) {
				font-size: 32px;
				line-height: 36px;
				margin-bottom: 36px;
			}
		}

		p {
			font-family: $museo;
			font-size: 14px;
			line-height: 22px;
			font-weight: 500;

			@include breakpoint(medium) {
				font-size: 20px;
				line-height: 30px;
			}
		}
	}

	.overview-sidebar {
		max-width: 260px;
		margin-top: 0px;

		@include breakpoint(large) {
			margin-top: 160px;
		}
		
		img {
			//width: 245px;
		}

		p a[href^="mailto"] {
			color: $graytext;	
		}



		.sidebar-visual-editor {
			margin-bottom: 22px;

			p {
				font-size: 18px;
				line-height: 24px;
			}				

			.overview-sidebar-name-title {
				font-family: $museo;
				font-weight: 700;
				font-size: 20px !important;
				line-height: 22px !important;
				display: inline-block;
			}

		}

		.sidebar-button {
			display: block;
			border: solid 1px #b6b6b6;
			text-align: center;
			margin-bottom: 36px;
			text-transform: uppercase;
			font-size: 16px;
			font-weight: 700;
			color: #6d6d6d;
			padding: 20px 0;
			box-shadow: 10px 10px 10px #f5f5f5;
		}

	.paypal {
		
		form {
			table {

				tbody {
					border: none;
				    background-color: white;					
				}

				tr {
					&:nth-child(even) {
					    border-bottom: 0;
					    background-color: white !important;						
					}					
				}

				td {
					padding: 0;
				}

			}

			h3 {
				font-size: 16px;
				font-weight: 700;
				text-transform: uppercase;
				margin-bottom: 5px;
			}			

			input[name="on0"] {
				font-weight: bold !important;
			}				

			input[type="submit"] {
				display: block;
				border: solid 1px #b6b6b6;
				text-align: center;
				margin-bottom: 36px;
				text-transform: uppercase;
				font-size: 16px;
				font-weight: 700;
				color: #6d6d6d;
				padding: 20px 0;
				box-shadow: 10px 10px 10px #f5f5f5;
				background: white;
				width: 100%;
				margin-bottom: 20px;

				&:hover {
					color: #6d6d6d;
				}
			}						
		}

	}
	}	
}

// #6 Secondary Navigation
.secondary-nav {
	display: none;
	position: absolute;
	top: 150px;
	left: 0;
	width: 250px;

	@include breakpoint(large) {
		display: block;
	}

	.overview-page {
		display: block;
		font-size: 16px;
		font-weight: 500;
		text-transform: uppercase;
		color: white;
		padding-left: 40px;				
	}

	.overview-title {
		display: inline-block;
		font-size: 26px;
		line-height: 24px;
		font-weight: 700;
		text-transform: uppercase;
		color: white;
		position: relative;
		//width: 100%;
		padding-left: 40px;

		&:after {
			position: absolute;
			bottom: -5px;
			left: 0;
			height: 1px;
			width: 100%;
			animation: navline 1s normal;
			content: "";
		}

		@keyframes navline {
		    0% {
		    	width: 0%;
		    }

		    100% {
		    	width: 100%;
		    }	
		}			
	}


	// Secondary Nav Pages
	ul {
		margin-top: 26px;
		padding-left: 40px;

		li {
			margin-bottom: 15px;
			float: none;
			display: block;

			&.current_page_item {

				a {
					display: inline-block;
					padding: 0 0 3px 0;
					border-bottom: 1px solid transparent;
					font-weight: 700;
				}
			}

			a {

				color: white;
				font-size: 16px;
				padding: 0;
				font-weight: 500;
			}
		}
	}					


	ul#menu-financial-solutions-menu {
		li {
			&.current_page_item {
				a {
					border-bottom: 1px solid $green !important;
				}
			}

			&:not(.current_page_item) {
				a {
					position: relative;
					display: inline-block;

					&:before {
						position: absolute;
						bottom: -3px;
						left: 0;
						height: 1px;
						width: 0%;
						background: $green;
						content: "";
						transition: all 0.3s ease;					
					}

					&:hover {
						display: inline-block;
						position: relative;

						&:before {
							width: 100%;
							background: $green;
						}
					}
				}				
			}
		}
	}

	ul#menu-tax-services-menu {
		li {
			&.current_page_item {
				a {
					border-bottom: 1px solid $yellow !important;
				}
			}

			&:not(.current_page_item) {
				a {
					position: relative;
					display: inline-block;

					&:before {
						position: absolute;
						bottom: -3px;
						left: 0;
						height: 1px;
						width: 0%;
						background: $yellow;
						content: "";
						transition: all 0.3s ease;					
					}

					&:hover {
						display: inline-block;
						position: relative;

						&:before {
							width: 100%;
							background: $yellow;
						}
					}
				}				
			}

		}
	}

	ul#menu-mobility-software-menu {
		li {
			&.current_page_item {
				a {
					border-bottom: 1px solid $teal !important;
				}
			}

			&:not(.current_page_item) {
				a {
					position: relative;
					display: inline-block;

					&:before {
						position: absolute;
						bottom: -3px;
						left: 0;
						height: 1px;
						width: 0%;
						background: $teal;
						content: "";
						transition: all 0.3s ease;					
					}

					&:hover {
						display: inline-block;
						position: relative;

						&:before {
							width: 100%;
							background: $teal;
						}
					}
				}				
			}								
		}
	}

	ul#menu-knowledge-resources-menu {
		li {
			&.current_page_item {
				a {
					border-bottom: 1px solid $teal !important;
				}
			}

			&:not(.current_page_item) {
				a {
					position: relative;
					display: inline-block;

					&:before {
						position: absolute;
						bottom: -3px;
						left: 0;
						height: 1px;
						width: 0%;
						background: $teal;
						content: "";
						transition: all 0.3s ease;					
					}

					&:hover {
						display: inline-block;
						position: relative;

						&:before {
							width: 100%;
							background: $teal;
						}
					}
				}				
			}								
		}
	}							
}	

body[data-page="tax-services"],
#page.detail-tax {
	.secondary-nav {
		.overview-title {
			&:after {
				border-bottom: solid 1px $yellow;
			}			
		}
	}
}

body[data-page="mobility-software"],
#page.detail-mobility {
	.secondary-nav {
		.overview-title {
			&:after {
				border-bottom: solid 1px $teal;
			}			
		}
	}
}

body[data-page="financial-solutions"],
#page.detail-financial {
	.secondary-nav {
		.overview-title {
			&:after {
				border-bottom: solid 1px $green;
			}			
		}
	}
}

body[data-page="about"],
body[data-page="news"]{
	.secondary-nav {
		.overview-title {
			&:after {
				border-bottom: solid 1px $teal;
			}			
		}
	}
}



body[data-page="financial-solutions"] {

	#page.services-overview {
		.interior-overview {
			.secondary-nav {
				&:after {
					background: $green;					
				}
			}
		}
	}
}

body[data-page="tax-services"] {

	#page.services-overview {
		.interior-overview {
			.secondary-nav {
				&:after {
					background: $yellow;					
				}
			}
		}
	}
}

body[data-page="mobility-software"],
#page.mobility-software {

	.secondary-nav {
		&:after {
			background: $teal;					
		}
	}
}

#page.knowledge-detail {
	.secondary-nav {
		.overview-title {
			&:after {
				border-bottom: solid 1px $teal;
			}			
		}
	}
}

body.single-mobility-solutions {
	.secondary-nav {
		.overview-title {
			&:after {
				border-bottom: solid 1px $teal;
			}			
		}

		ul#menu-knowledge-resources-menu {
			li {
				&#menu-item-610 {
					a {
						display: inline-block;
						font-weight: bold;
						border-bottom: 1px solid $teal !important;
					}
				}					
			}
		}
	}	
}

body.single-subject-matters {
	.secondary-nav {
		.overview-title {
			&:after {
				border-bottom: solid 1px $teal;
			}			
		}

		ul#menu-knowledge-resources-menu {
			li {
				&#menu-item-612 {
					a {
						display: inline-block;
						font-weight: bold;
						border-bottom: 1px solid $teal !important;
					}
				}

				&#menu-item-612 {
					a {

						&:hover {
							display: inline-block;
							position: relative;

							&:before {
								width: 0%;
								background: none !important;
							}
						}
					}				
				}									
			}
		}
	}	
}

body.single-mobility-solutions {
	.secondary-nav {
		.overview-title {
			&:after {
				border-bottom: solid 1px $teal;
			}			
		}

		ul#menu-knowledge-resources-menu {
			li {
				&#menu-item-610 {
					a {
						display: inline-block;
						font-weight: bold;
						border-bottom: 1px solid $teal !important;
					}
				}

				&#menu-item-610 {
					a {

						&:hover {
							display: inline-block;
							position: relative;

							&:before {
								width: 0%;
								background: none !important;
							}
						}
					}				
				}									
			}
		}
	}	
}

// #7 Service Overview

#page.service-overview {

	.interior-overview {
		width: 100vw;
		height: 100vh;
		position: relative;		

		.interior-intro {

			
			.overview-form-button {
				margin-top: 30px;
				display: inline-block;
				padding: 15px 0;
				width: 100%;
				border: solid 1px white;
				background: hsla(0,0%,100%,0.3);
				text-transform: uppercase;
				color: white;
				font-weight: 700;

				@include breakpoint(medium) {
					width: 400px;

				}
			}			
		}
	}

	.service-overview-main {
		background: white;
		padding-top: 60px;
		padding-bottom: 75px;
		color: #7e7e7e;

		@include breakpoint(medium) {
			padding-top: 90px;
		}

		@include breakpoint(large) {
			padding-left: 280px;
			padding-bottom: 100px;
		}

		.overview-main {

			h2 {
				font-family: $museo;
				font-size: 24px;
				line-height: 32px;
				color: #7e7e7e;
				font-weight: 700;
				margin-bottom: 20px;

				@include breakpoint(medium) {
					font-size: 32px;
					line-height: 38px;
				}
			}

			h3,p {
				font-size: 14px;
				line-height: 22px;
				color: #7e7e7e;
				margin-bottom: 20px;

				@include breakpoint(medium) {
					font-size: 18px;
					line-height: 26px;
					margin-bottom: 25px;
				}
			}

			h3 {
				font-weight: 700;
				margin-bottom: 0;
			}


		}
	}

	.down-arrow {
		display: none;

		@include breakpoint(medium) {
			display: block;
		}
	}
}

// #8 Service Detail Pages
#page.service-detail {

	// Secondary Navigation
	.secondary-nav {
		.overview-page {
			display: block;
			font-size: 16px;
			font-weight: 500;
			text-transform: uppercase;
			color: #7e7e7e;				
		}

		.overview-title {
			display: inline-block;
			font-size: 26px;  // 29px
			font-weight: 700;
			text-transform: uppercase;
			color: #7e7e7e;
		}

		ul li a {
			color: #7e7e7e;
		}
	}	

	#main {
		background: white;	
		padding-top: 105px;	
		color: #7e7e7e;
		padding-bottom: 75px; // from 200

		@include breakpoint(large) {
			padding-left: 280px;	
			padding-bottom: 100px;
			padding-top: 210px;
		}

		.detail-main {
			// Service Detail Main
			h1 {
				font-family: $museo;
				font-size: 30px;
				font-weight: 700;
				margin-bottom: 3px;

				@include breakpoint(medium) {
					font-size: 30px;					
				}
			}

			.button-white {
				margin-top: 25px;
			}

			.service-detail-intro {
				font-size: 20px;
				line-height: 36px;
				font-weight: 500;
				font-family: $museo;
				display: block;
			}

			h2 {
				font-family: $museo;
				font-size: 20px;
				line-height: 20px;
				font-weight: 700;
				margin-bottom: 15px;
				margin-top: 5px;
			}

			p {
				font-size: 18px;
				line-height: 26px;
				font-weight: 400;
				margin-bottom: 20px;
			}

			li {
				font-size: 18px;
				line-height: 26px;
				margin-bottom: 10px;
			}

			ul {
				padding-left: 22px;
				margin-bottom: 20px;

				& > li {
					background: url("../images/bullet-accordion.svg") left 10px no-repeat;
					background-size: 4px 4px;
					padding-left: 10px;

					ul {
						padding-left: 0px;

						& > li {
							position: relative;
							padding-left: 10px;
							background: none;

							&:before {
								position: absolute;
								top: 11px;
								left: 0;
								width: 5px;
								height: 2px;
								background: #868686;
								content: "";
							}
						}
					}


				}
			}

			.blue {
				color: #00b9f2;
				font-weight: 700;
			}

			// Headings same as font size
			h4 {
				font-size: 18px;
				font-weight: 700;
				margin-bottom: 10px;
			}						
		}



		.overview-sidebar {
			max-width: 260px;
			margin-top: 0px; // 20px 
			
			img {
				//width: 245px;
			}

			.sidebar-visual-editor {
				margin-bottom: 22px;

				p {
					font-size: 18px;
					line-height: 24px;
				}				

				.overview-sidebar-name-title {
					font-family: $museo;
					font-weight: 700;
					font-size: 20px !important;
					line-height: 22px !important;
					display: inline-block;
				}

				.tax-guide-description {
					font-size: 16px;
					line-height: 22px;
				}

				.sidebar-phone-number {
					font-size: 20px;
					font-weight: 700;
				}

			}

			.sidebar-button {
				display: block;
				border: solid 1px #b6b6b6;
				text-align: center;
				margin-bottom: 36px;
				text-transform: uppercase;
				font-size: 16px;
				font-weight: 700;
				color: #6d6d6d;
				padding: 20px 0;
				box-shadow: 10px 10px 10px #f5f5f5;

			}

			// Tax Guides Page

			.tax-guide-description {
				width: 220px;

				p {
					font-size: 16px !important;
				}
			}

			figure.tax-guide-image {
				width: 220px;
			}

			.quantity-price {
				width: 100%;
				margin-bottom: 25px;

				.quantity-price-label {
					font-size: 16px;
					font-weight: 700;
					text-transform: uppercase;
					font-family: $proxima;
					display: block;
					width: 220px;
				}

				.quantity-price-list {

					.quantity-price {
						font-size: 16px;
						line-height: 22px;
						font-weight: 300;
						font-family: $proxima;
						display: block;
						width: 220px;
						margin-bottom: 3px;				
					}

					.additional-information {
						font-size: 12px;
						width: 100%;
						display: block;
					}				

				}


			}
		}						
	}

	// Paypal buttons
	.paypal {
		
		form {
			table {

				tbody {
					border: none;
				    background-color: white;					
				}

				tr {
					&:nth-child(even) {
					    border-bottom: 0;
					    background-color: white !important;						
					}					
				}

				td {
					padding: 0;
				}

			}

			h3 {
				font-size: 16px;
				font-weight: 700;
				text-transform: uppercase;
				margin-bottom: 3px;
			}			

			input[name="on0"] {
				font-weight: bold !important;
			}				

			input[type="submit"] {
				display: block;
				border: solid 1px #b6b6b6;
				text-align: center;
				margin-bottom: 36px;
				text-transform: uppercase;
				font-size: 16px;
				font-weight: 700;
				color: #6d6d6d;
				padding: 20px 0;
				box-shadow: 10px 10px 10px #f5f5f5;
				background: white;
				width: 100%;
				margin-bottom: 20px;

				&:hover {
					color: #6d6d6d;
				}
			}						
		}

	}	
}


// #9 About 
#page.about {

	.secondary-nav {

		&:after {
			background: #047dab !important;
		}
	}

	.about-overview {
		width: 100vw;
		height: 100vh;
		position: relative;	

		.interior-intro {

			h1 {
				font-size: 36px;
				margin-bottom: 18px;

				@include breakpoint(medium) {
					margin-bottom: 36px;
				}			
			}

			p {
				font-size: 16px;
				line-height: 24px;

				@include breakpoint(medium) {
					font-size: 26px;
					line-height: 38px;				
				}				
			}

		}			
	}		

	#main {
		background: white;
		padding: 100px 0 0 0;



		.about-section {
			margin-bottom: 44px; 
			text-align: center;

			@include breakpoint(medium) {
				margin-bottom: 84px;
			}

			h2 {
				font-family: $museo;
				font-size: 24px;
				font-weight: 700;
				color: #7e7e7e;
				margin-bottom: 30px;

				@include breakpoint(medium) {
					font-size: 32px;
					margin-bottom: 34px;
				}
			}

			.about-list {

				li {
					margin-bottom: 24px;

					@include breakpoint(medium) {
						margin-bottom: 30px;
					}					
				}

			}

			h3 {
				font-size: 14px;
				color: #7e7e7e;
				font-weight: 700;

				@include breakpoint(medium) {
					font-size: 20px;
				}
			}

			p {
				font-size: 14px; 
				line-height: 22px;
				color: $graytext;

				@include breakpoint(medium) {
					font-size: 18px;
					line-height: 26px;
				}
			}
		}

		.about-employees {

			position: relative;
			z-index: 2;

			&.flipster:focus {
				outline: 0;
			}

			ul[role="navigation"] {
				margin-bottom: 100px;
				text-align: center;

				& > li {
					display: inline-block;
					width: 30px;

					margin-top: 15px;
					margin-bottom: 15px;

					@include breakpoint(medium) {
						margin-top: 0;
						margin-bottom: 0;
					}

 					a {
						font-family: $museo;
						font-size: 21px;
						color: #7e7e7e;
						display: inline;
						text-transform: uppercase;

						&:hover {
							background: none;
						}
					}

					ul.flipster__nav__child {
						display: none;
						height: 0;
					}
				}

				& > li:not(:last-child) {
					margin-right: 12px;
				}

				& > li.flipster__nav__item--current {
					//height: 65px;
					position: relative;
					width: 42px;
					height: 42px;
					border-radius: 21px;
					background: #00b9f2;
					line-height: 42px;
					z-index: 2;

					& > a {
						color: white;
					}
					
				}
			}

			ul.employees {
				position: relative;
				margin-top: 150px;

				@include breakpoint(large) {
					margin-top: 330px; // 430px Revision					
				}				

				li {
					transition: all 0.5s ease;
					background: #0a2240;
					position: relative;
					margin: 0 !important;
					text-align: center;
					padding: 100px 0 180px 0;


					// extend sides in mobile
					
					&:after {
						position: absolute;
						top: 0;
						right: -1000px;
						height: 100%;
						width: 1000px;
						background: #0a2240;
						content: "";
					}

					&:before {
						position: absolute;
						top: 0;
						left: -1000px;
						height: 100%;
						width: 1000px;
						background: #0a2240;
						content: "";
					}					
					

					img {
						width: 210px;
						position: absolute;
						left: 50%;
						top: -150px;
						transform: translateX(-50%);

						@include breakpoint(medium) {
							top: -300px;
							width: 340px;
							width: 350px; // Revision
						}

						@include breakpoint(large) {
							top: -300px; // Revision						
						}						
					}

					h3 {
						font-size: 18px;
						font-family: $museo;
						font-weight: 700;
						color: white;
						margin-bottom: 10px;

						@include breakpoint(medium) {
							font-size: 27px;
							margin-bottom: 15px;
						}

						@include breakpoint(large) {
							font-size: 32px;
						}						
					}

					span.emp-title {
						font-family: $proxima;
						font-size: 14px;
						font-weight: 700;
						color: white;
						margin-bottom: 30px;
						display: block;

						@include breakpoint(medium) {
							font-size: 15px;
						}

						@include breakpoint(large) {
							font-size: 20px;
							margin-bottom: 40px;
						}						
					}

					p {
						font-family: $proxima;
						font-size: 14px;
						font-weight: 400;
						color: white;
						margin-bottom: 15px;
						line-height: 22px;

						@include breakpoint(medium) {
							font-size: 16px;
						}

						@include breakpoint(large) {
							font-size: 18px;
							line-height: 26px;
						}						
					}
				}
				
				.flipster__item { 
					position: absolute;
				}

				.flipster__item--past-1 { 
					transform: translateX(-50%); 
					opacity: 0.5;

					@include breakpoint(large) {
						transform: translateX(-40%); 
					}

					
				}
				
				.flipster__item--future-1 {
					transform: translateX(50%); // 50%
					opacity: 0.5;

					@include breakpoint(large) {
						transform: translateX(40%);
					}

				}	

				li:not(.flipster__item--current):not(.flipster__item--future-1):not(.flipster__item--past-1) {
					opacity: 0 !important;
				}			


				.flipster--infinite-carousel {				

				    .flipster__container,
				    .flipster__item, {
				        transition: all 350ms ease-in-out;
				        transition-timing-function: cubic-bezier(.56,.12,.12,.98);
				    }

				    .flipster__item__content { 
				    	transition: inherit;
				    }
				    
				}			
				
			}

			.flipster__button {
				width: 20px;
				height: 20px;
				cursor: pointer;

				@include breakpoint(medium) {
					width: 72px;
					height: 72px;
				}

				svg {
					display: none;
				}
			}

			.flipster__button--prev {
				background: url("../images/arrow-mobile.svg") left top no-repeat;
				background-size: 20px 20px !important;
				position: absolute;
				top: 373px;
				left: 35px;
				z-index: 999;

				transform: rotate(90deg);
				opacity: 0.5;

				@include breakpoint(medium) {
					top: 475px;
					background: url("../images/arrow-down.svg") left top no-repeat;
					background-size: 72px 72px !important;					
				}
			}

			.flipster__button--next {
				background: url("../images/arrow-mobile.svg") left top no-repeat;
				background-size: 20px 20px !important;				
				position: absolute;
				right: 35px;
				top: 373px;
				z-index: 999;
				transform: rotate(-90deg);
				opacity: 0.5;

				@include breakpoint(medium) {
					top: 475px;
					background: url("../images/arrow-down.svg") left top no-repeat;
					background-size: 72px 72px !important;					
				}
			}			
		}

		.about-affiliations {
			background: #e5e5e5;
			padding: 140px 0;
			position: relative;

			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 300px;
				top: -300px;
				background: #0a2240;
				z-index: 1;
			}

			h3 {
				font-family: $museo;
				font-size: 32px;
				color: #868686;
				font-weight: 700;
				text-align: center;
				margin-bottom: 85px;
			}

			.affiliation-each {
				text-align: center;

				@include breakpoint(medium) {

				}

				img {
					width: 224px;
				}
			}

			.affiliation-each:not(:nth-of-type(1)) {
				margin-top: 85px;

				@include breakpoint(large) {
					margin-top: 0;
				}
			}


			.affiliation-each:nth-of-type(1) {
				text-align: center;

				@include breakpoint(large) {
					text-align: left;
				}
				
			}

			.affiliation-each:nth-of-type(2) {
				text-align: center;
			}

			.affiliation-each:nth-of-type(3) {
					text-align: center;

				@include breakpoint(large) {
					text-align: right;	
				}
			}						
		}
	}
}

/* #10 Contact Forms */

.form-overlay,
.form-overview {
	margin-top: 100px;

	h3 {
		font-family: $museo;
		text-align: center;
		color: white;
		font-size: 24px;
		line-height: 44px;
		font-weight: 700;
		margin-bottom: 40px;

		@include breakpoint(medium) {
			font-size: 28px;
			line-height: 48px;			
		}
	}

	form {

		div:nth-of-type(2) {
			margin-bottom: 15px;
		}

		label {
			font-family: $museo;
			font-size: 14px;
			font-weight: 300;
			color: white;
			margin-bottom: 3px;
		}

		input,textarea {
			margin: 0;
			background-color: $forminput;
			border: 0;
			color: white !important;

			&:focus {
				background: $forminput;
				color: white;
			}

			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				color: white;
				visibility: hidden;

				@include breakpoint(medium) {
					visibility: visible
				}
			  
			}
			&::-moz-placeholder { /* Firefox 19+ */
				color: white;
				visibility: hidden;

				@include breakpoint(medium) {
					visibility: visible
				}
			}
			&:-ms-input-placeholder { /* IE 10+ */
				color: white;
				visibility: hidden;

				@include breakpoint(medium) {
					visibility: visible
				}
			}
			&:-moz-placeholder { /* Firefox 18- */
				color: white;
				visibility: hidden;

				@include breakpoint(medium) {
					visibility: visible
				}
			}			
		}

		select {
		    height: 2.4375rem;
		    margin: 0 0 1rem;
		    padding: .5rem;
		    -webkit-appearance: none;
		    -moz-appearance: none;
		    appearance: none;
		    border: none;
		    border-radius: 0;
		    background-color: $forminput;
		    font-family: inherit;
		    font-size: 1rem;
		    line-height: normal;
		    color: white;
		    background-image: url("../images/arrow-select.svg");
		    background-origin: content-box;
		    background-position: right -1rem center;
		    background-repeat: no-repeat;
		    background-size: 9px 6px;
		    padding-right: 1.5rem;
		    transition: border-color .25s ease-in-out,-webkit-box-shadow .5s;
		    transition: box-shadow .5s,border-color .25s ease-in-out;
		    transition: box-shadow .5s,border-color .25s ease-in-out,-webkit-box-shadow .5s;
		}

		textarea {
			height: 255px;
		}

		input[type="submit"]{
			text-transform: uppercase;
			font-weight: 700;
			font-size: 18px;
			display: block;
			text-align: center;
			padding: 15px 0;
			width: 300px;
			margin: 45px auto 0px auto;
		}

		div.wpcf7-response-output {
		    margin: 0;
		    padding: 0;
		    clear: both;
		    border: 0;
		    color: $formerror;
		    font-weight: 500;
		    text-align: center;
		    font-family: $museo;
		    font-size: 20px;
		    line-height: 26px;
		}


		.wpcf7-not-valid {
			border: solid 2px $formerror;
		}

		.wpcf7-not-valid-tip {
			display: block;
			text-indent: -9999em;
		}	
	}

	button.form-close {
		text-transform: uppercase;
		font-weight: 700;
		font-size: 18px;
		display: block;
		text-align: center;
		padding: 15px 0;
		width: 300px;
		border: solid 1px $forminput;
		margin: 0;
		color: white;
		margin: 0 auto;
		cursor: pointer;
	}	
}


// #11 Knowledge Resources Landing

#page.knowledge-resources {

	#main {
		.knowledge-intro {
			color: #7e7e7e;
			background: white;
			text-align: center;
			padding-top: 105px;
			padding-bottom: 162px;	

			@include breakpoint(medium) {
				padding-top: 162px;
			}		

			.site-title {
				font-size: 14px;
				line-height: 14px;

				@include breakpoint(medium) {
					font-size: 22px;
					margin-bottom: 10px;
					padding-top: 162px;										
				}

			}

			h1 {
				font-family: $museo;
				font-size: 36px;
				margin-bottom: 0px;
				font-weight: 700;
			}

			h2 {
				font-family: $museo;
				font-size: 28px;
				font-weight: 500;				
			}
		}		
	}

	.knowledge-grid {
		background-color: white;
		padding-bottom: 100px;

		.mobility-webinars {

			&>.columns .row > .columns {
				margin-bottom: 4px;

			}
		}
	
		.columns.cols-2px{

			@include breakpoint(medium) {
				padding-left: .125em;
				padding-right: .125em;			
			}

		}

		&.option-2 {
			margin-top: 100px;
		}

		.row.wide {
			width: 100%;
			margin-left: auto;
			margin-right: auto;
			max-width: initial;
		}
		
		.panel {
			background: #eee;
			width: 100%;
			text-align: center;
			display: block;

			&.webinars {
				background: $teal;
			}

			&.mobility {
				background: $green;
			}

			&.speaking {
				background: $yellow;
			}

			&.email {
				background: #0a2240;
				height: 130px;
				color: white;
			}

			&.tax-guide {
				background: $teal;
			}	

			&.tax-updates {
				background: #aaa;
			}

			&.subject-matters {
				background: #555;
			}																		
		}		
	}


	// Webinars 

	.knowledge-webinars {
		background: url("../images/knowledge-resources-webinars-bg.png") top right no-repeat;
		background-color: #ecedef;
		color: #7e7e7e;
		position: relative;

		height: 440px;
		background-size: 80% auto;

		@include breakpoint(medium) {
			background-size: 80% auto;
		}

		@include breakpoint(large) {
			background-size: 115% auto;
		}

		.knowledge-webinars-top {
			padding: 25px;

			h3 {
				font-size: 18px;
				font-weight: 700;
				text-transform: uppercase;
				margin-bottom: 20px;
			}

			.webinar-date,
			.webinar-time {
				font-size: 16px;
				display: block;
			}

			.webinar-name {
				font-family: $museo;
				font-weight: 700;
				font-size: 16px;
				line-height: 19px;
			}

			a.read-more {
				font-family: $museo;
				font-weight: 500;
				font-size: 14px;
				line-height: 18px;
				color: $ineoblue;
				position: relative;
				display: block;
				margin-top: 20px;
				width: 240px;

				@include breakpoint(medium) {
					width: auto;
				}

				@include breakpoint(large) {
					width: 240px;
				}

				&:after {
					content: "";
					display: inline-block;
					width: 10px;
					height: 4px;
					background: url("../images/arrow-accordion.svg") right top no-repeat;
					transform: rotate(-90deg);
					position: relative;
					top: -1px;
				}
			}
		}

		.knowledge-webinars-bot {

			img.webinar-speaker {
				position: absolute;
				left: 0;
				bottom: 0;
				//max-width: 70%;
				//width: 240px;
				width: 250px;

				@include breakpoint(medium) {
					//max-width: 40%;
				}

				@include breakpoint(large) {
					//max-width: 60%;
					width: 250px;

				}
			}

			.knowledge-webinar-speaker-info {
				position: relative;
				//left: 50%;
				left: 160px;
				top: 40px;
				color: #17283e;
				width: auto;
				//background: gray;

				@include breakpoint(medium) {
					//width: 150px;
				}

				@include breakpoint(large) {
					left: 160px;
					top: 50px;
					width: 150px;
				}

				h4 {
					font-size: 14px;
				}

				.speaker-name {
					font-size: 16px;
					display: block;
					font-weight: 700;
				}

				.speaker-title {
					font-size: 13px;
					display: block;


				}	
			}
		}
	}

	// Mobility Solutions
	.knowledge-mobility {
		background-color: #ebecee;

		@include breakpoint(medium) {
			height: 440px;				
		}


		.knowledge-mobility-top {
			position: relative;

			.knowledge-mobility-overlay {
				width: 100%;
				color: white;
				padding: 25px;

				@include breakpoint(medium) {
					position: absolute;
					bottom: 25px;
					left: 25px;
					width: 100%;
					color: white;					
				}


				h3 {
					font-family: $proxima;
					font-size: 18px;
					font-weight: 700;
					text-transform: uppercase;
					margin-bottom: 25px;
					color: $graytext;

					@include breakpoint(medium) {
						color: white;						
					}

				}

				h4 {
					font-family: $museo;
					font-size: 24px;
					line-height: 28px;
					font-weight: 700;
					color: $graytext;

					@include breakpoint(medium) {
						color: white;						
					}					
				}				
			}
		}

		.knowledge-mobility-intro {
			padding: 34px 25px;

			p {
				font-size: 16px;
				line-height: 24px;
				margin-bottom: 15px;
				color: $graytext;

				@include breakpoint(medium) {
					margin-bottom: 25px;
				}
			}

			a.read-more {
				font-family: $museo;
				font-weight: 500;
				color: $ineoblue;				
			}
		}		
	}

	// Knowledge Email 

	.knowledge-email {
		background: #0a2240;
		padding: 28px;

		h3 {
			color: white;
			font-family: $proxima;
			font-weight: 700;
			font-size: 18px;
			text-transform: uppercase;
			margin-bottom: 5px;
		}

		p {

			&.email-intro {
				font-family: $museo;
				font-size: 16px;
				font-size: 700;
				color: white;
				margin-bottom: 5px;	
			}

			&[class="s2_message"] {
				margin-top: 10px;
				color: $formerror;
			}
		}

		form {
			margin-top: 0;
			padding-top: 0;

			@include breakpoint(medium) {
				height: 50px;
				position: relative;			
			}

			p {
				display: inline-block;

				input[type="email"] {
					background: #eaebec;
					border: solid 1px #abacac;
					font-family: $proxima;
					font-weight: bold;
					font-size: 14px;
					color: #6d6d6d;
					margin-bottom: 3px;
					box-shadow: none;
					width: 270px;
					display: block;

					@include breakpoint(medium) {
						display: inline-block;
						width: 410px;
					}

					&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
						color: #6d6d6d;
						text-transform: uppercase;						
						font-size: 12px;
					  
					}
					&::-moz-placeholder { /* Firefox 19+ */
						color: #6d6d6d;
						text-transform: uppercase;	
						font-size: 12px;
					}
					&:-ms-input-placeholder { /* IE 10+ */
						color: #6d6d6d;
						text-transform: uppercase;	
						font-size: 12px;
					}
					&:-moz-placeholder { /* Firefox 18- */
						color: #6d6d6d;
						text-transform: uppercase;
						font-size: 12px;
					}					
				}				

				input[type="submit"] {
					background: #006fa6;
					display: inline-block;
					height: 40px;
					text-align: center;
					color: white;
					text-transform: uppercase;
					font-weight: bold;
					font-size: 11px;
					font-family: $proxima;	
					border: none;
					position: relative;
					top: -1px;
					padding-left: 36px;
					padding-right: 36px;

					@include breakpoint(medium) {
						margin-left: 10px;
					}			

				}
			}	

		div.wpcf7-response-output {
		    margin: 0;
		    padding: 0;
		    //clear: both;
		    border: 0;
		    color: $formerror;
		    font-weight: 500;
		    text-align: left;
		    font-family: $museo;
		    font-size: 18px;
		    line-height: 24px;
		}


		.wpcf7-not-valid {
			border: solid 2px $formerror;
		}

		.wpcf7-not-valid-tip {
			//display: block;
			display: none;
		}					

		}

	}

	// Speaking Engagements

	.knowledge-engagements {
		height: 470px;
		background: #eaebee;

		.knowledge-engagements-top {
			height: 250px;
			background: url("../images/knowledge-resources-speaking-bg.jpg") right top no-repeat;
			background-size: cover;
			padding-top: 18px;
			padding-left: 30px;

			h3 {
				width: 133px;
				font-family: $proxima;
				font-weight: 700;
				text-transform: uppercase;
				font-size: 18px;
				color: white;
				position: relative;

				&:before {
					position: absolute;
					bottom: -3px;
					left: 0;
					height: 2px;
					width: 100%;
					background: linear-gradient(to right, #98e3ee 0%, #0cbfda 50%);
					content: "";
				}
			}
		}

		.knowledge-engagements-info {
			padding: 28px;

			.speaking-location-date {
				font-size: 15px;
				color: $graytext;

				.speaking-location {
					font-weight: 700;
				}
			}

			.speakers {
				margin-bottom: 14px;

				.speaker {
					font-weight: 15px;
					display: block;
					color: $graytext;
				}
			}

			h4 {
				font-family: $museo;
				font-weight: 700;
				font-family: 18px;
				line-height: 20px;
				color: $graytext;
				margin-bottom: 25px;
			}

			a.read-more {
				font-family: $museo;
				font-weight: 500;
				font-size: 14px;
				line-height: 18px;
				color: $ineoblue;
				position: relative;

				&:after {
					content: "";
					display: inline-block;
					width: 10px;
					height: 4px;
					background: url("../images/arrow-accordion.svg") right top no-repeat;
					transform: rotate(-90deg);
					position: relative;
					top: -1px;
				}
			}
		}
	}

	// Knowledge Tax Updates

	.knowledge-tax-updates {
		padding-top: 28px;
		padding-top: 28px;		

		@include breakpoint(medium) {
			padding: 28px;
		}

		h3 {
			font-family: $proxima;
			font-size: 18px;
			font-weight: 700;
			text-transform: uppercase;
			color: $graytext;
		}

		.tax-article {
			margin-bottom: 23px;
			margin-top: 23px;

			h4 {
				font-family: $museo;
				font-size: 18px;
				font-weight: 700;
				line-height: 20px;
				margin-bottom: 24px;
				color: $graytext;
			}

			p {
				font-family: $proxima;
				font-size: 16px;
				line-height: 20px;
				color: $graytext;

				.more-link {
					display: block;
					margin-top: 8px;
					color: $ineoblue !important;
					font-weight: 500;
					font-family: $museo;
					font-size: 14px;
				}

				strong {
					font-weight: 400 !important;
				}
			}
		}

		a.read-more {
			font-family: $museo;
			font-weight: 500;
			font-size: 14px;
			line-height: 18px;
			color: $ineoblue;
			position: relative;

			&:after {
				content: "";
				display: inline-block;
				width: 10px;
				height: 4px;
				background: url("../images/arrow-accordion.svg") right top no-repeat;
				transform: rotate(-90deg);
				position: relative;
				top: -1px;
			}
		}		
	}

	// Subject Matters

	.knowledge-subject-matters {
		padding-top: 28px;
		padding-top: 28px;

		margin-top: 25px;		

		@include breakpoint(medium) {
			padding: 28px;
			margin-top: 0;
		}

		h3 {
			font-family: $proxima;
			font-size: 18px;
			font-weight: 700;
			text-transform: uppercase;
			color: $graytext;
		}

		.subject-article {
			margin-bottom: 23px;
			margin-top: 23px;

			h4 {
				font-family: $museo;
				font-size: 18px;
				font-weight: 700;
				line-height: 20px;
				margin-bottom: 5px;
				color: $graytext;
			}

			.author-info {
				margin-bottom: 24px;

				span {
					display: block;
					color: #17283e;
					font-size: 12px;
					text-transform: uppercase;
				}

				img {
					margin-top: 10px;
				}
			}

			p {
				font-family: $proxima;
				font-size: 16px;
				line-height: 20px;
				color: #7e7e7e;
				font-weight: 400 !important;

				.more-link {
					display: block;
					margin-top: 8px;
					color: $ineoblue !important;
					font-weight: 500;
					font-family: $museo;
					font-size: 14px;
				}
			}
		}

		p, span {
			font-family: $proxima !important;
			font-size: 16px;
		    line-height: 20px;
		    color: $graytext;			
		}

		a.read-more {
			font-family: $museo;
			font-weight: 500;
			font-size: 14px;
			line-height: 18px;
			color: $ineoblue;
			position: relative;

			&:after {
				content: "";
				display: inline-block;
				width: 10px;
				height: 4px;
				background: url("../images/arrow-accordion.svg") right top no-repeat;
				transform: rotate(-90deg);
				position: relative;
				top: -1px;
			}
		}		
	}

	// Tax Guide

	.knowledge-tax-guide {

		padding: 28px 24px;

		h3 {
			font-family: $proxima;
			font-size: 18px;
			font-weight: 700;
			text-transform: uppercase;
			color: $graytext;
			margin-bottom: 25px;
		}

		.tax-image {

			width: 100%;

			@include breakpoint(medium) {
				float: left;
				width: 50%;
				max-width: 180px;
				margin-right: 10px;
			}
		}

		.tax-description {
			width: 100%;

			@include breakpoint(medium) {
				float: left;
				width: calc(50% - 10px);				
			}

			p {
				font-size: 13px;
				line-height: 17px;
				color: $graytext;
			}


		}

			.quantity-price {
				clear: left !important;
				width: 100%;
				margin-bottom: 25px;
				margin-top: 15px;
				color: $graytext;
				float: left;

				.quantity-price-label {
					font-size: 13px;
					font-weight: 700;
					text-transform: uppercase;
					font-family: $proxima;
					display: table-cell;

					@include breakpoint(medium) {
						width: 116px;
					}
				}

				.quantity-price-list {

					.quantity-price-each {
						font-size: 13px;
						line-height: 17px;
						font-weight: 400;
						font-family: $proxima;
						margin-top: 5px !important;
						margin-bottom: 0 !important;
						display: block;
						border-top: solid 1px #ddd;
						padding-top: 5px;

						span {
							display: block;
						}

						@include breakpoint(medium) {
							//width: 116px;
						}

					}

					.additional-information {
						font-size: 12px;
						width: 100%;
						display: block;
					}				

				}


			}			

		.tax-button {
			clear: left;
			width: 100%;
			margin-top: 0;
			float: left;

			@include breakpoint(medium) {
				margin-top: 0;				
			}
		}

	}	

}

// #12 Knowledge Resources Detail

#page.knowledge-detail {

	// Secondary Navigation
	.secondary-nav {
		.overview-page {
			display: block;
			font-size: 16px;
			font-weight: 500;
			text-transform: uppercase;
			color: #7e7e7e;				
		}

		.overview-title {
			display: inline-block;
			font-size: 26px; // 29px
			font-weight: 700;
			text-transform: uppercase;
			color: #7e7e7e;
		}

		ul li a {
			color: #7e7e7e;
		}
	}

	// Main Section
	#main {
		background: white;	
		color: #7e7e7e;
		padding-bottom: 75px;
		padding-top: 105px;

		@include breakpoint(large) {
			padding-top: 210px;	
			padding-left: 280px;
			padding-bottom: 100px;	
		}

		h1 {
			font-family: $museo;
			font-size: 30px;
			line-height: 30px;
			font-weight: 700;
			margin-bottom: 3px;

			@include breakpoint(medium) {
				font-size: 30px;				
			}
		}				
	}		
}

// #13 Knowledge Resources: Webinars

#page.knowledge-detail.webinars {

	#main {
		padding-left: 15px;
		padding-right: 15px;

		@include breakpoint(medium) {
			padding-left: 280px;
			padding-right: 0;
		}
	}	

	.webinar {
		padding: 40px 0;

		.webinar-month {
			font-family: $proxima;
			font-size: 18px;
			font-weight: 700;
			text-transform: uppercase;
			display: block;
			border-bottom: solid 1px #7e7e7e;
			padding-bottom: 14px;
			margin-bottom: 14px;
		}

		.webinar-content {

			h2 {
				font-family: $museo;
				font-size: 20px;
				line-height: 36px;
				font-weight: 700;
			}

			p {
				font-family: $proxima;
				font-size: 18px;
				line-height: 26px;
			}

			strong {
				font-weight: 700;
			}

			.registration-closed {
				font-family: $museo;
				color: $ineoblue;
				font-size: 14px;
			}

			ul {
				padding-left: 22px;

				& > li {
					background: url("../images/bullet-accordion.svg") left 10px no-repeat;
					background-size: 4px 4px;
					padding-left: 10px;
					font-size: 18px;
					line-height: 26px;
				}
			}

			.webinar-registration-buttons {
				margin-top: 25px;
			}


		}

		.button-white {
			max-width: 400px;
		}

		.webinar-read-more {

			margin: 10px 0 45px 0;

			.see-more,
			.see-less {
				font-family: $museo;
				font-size: 14px;
				font-weight: 500;
				color: $ineoblue;
				transition: all 0.3s ease;
				padding-right: 18px;
				position: relative;
				//display: block;
			}

			.see-more {
				&:after {
					position: absolute;
					top: 5px;
					right: 0;
					content: "";
					width: 13px;
					height: 6px;
					background: url("../images/arrow-accordion.svg") left top no-repeat;
					background-size: 13px 6px;
					transition: all 0.3s ease;
					transform: rotate(0);
				}					
			}

			.see-less {
				display: none;
				position: relative;
				top: 10px;

				&:after {
					position: absolute;
					top: 5px;
					right: 0;
					content: "";
					width: 13px;
					height: 6px;
					background: url("../images/arrow-accordion.svg") left top no-repeat;
					background-size: 13px 6px;
					transition: all 0.3s ease;
					transform: rotate(180deg);
				}					
			}

			.see-more-invisible {
				visibility: hidden;
			}

			.see-more-visible {
				visibility: visible;
			}			

			.webinar-more {
				display: none;
			}

			ul {
				padding-left: 22px;

				& > li {
					background: url("../images/bullet-accordion.svg") left 10px no-repeat;
					background-size: 4px 4px;
					padding-left: 10px;
					font-size: 18px;
					line-height: 26px;
				}
			}			
		}

		.webinar-sponsors {

			h2 {
				font-family: $museo;
				font-size: 20px;
				line-height: 36px;
				font-weight: 500;
			}

			.sponsors {
				margin-bottom: 45px;
				float: left; 
				width: 100%;

				&:last-child {
					margin-bottom: 0;
				}

				.sponsor {
					float: left;
					width: 25%;
					margin-bottom: 20px;
					margin-right: 20px;
				}
			}
		}

		figure.webinar-image {
			text-align: center;
			margin-bottom: 20px;
			width: 220px;

			&:last-child {
				margin-bottom: 0;
			}

			img {
				margin-bottom: 5px;
			}

			figcaption {
				font-size: 18px;
				font-weight: bold;
			}
		}
	}
}

// #14 Knowledge Resources: Speaking Engagements

#page.knowledge-detail.speaking-engagements {

	#main {
		padding-left: 15px;
		padding-right: 15px;

		@include breakpoint(medium) {
			padding-left: 280px;
			padding-right: 0;
		}
	}

	.speaking-engagement {
		padding: 40px 0;

		.speaking-engagement-location {
			font-family: $proxima;
			font-size: 18px;
			text-transform: uppercase;
			display: block;
			border-bottom: solid 1px #7e7e7e;
			padding-bottom: 14px;
			margin-bottom: 14px;

			strong {
				font-weight: 700;
			}

			.speaking-location {
				font-weight: 700;
			}
		}

		.speaking-engagement-content {

			h2 {
				font-family: $museo;
				font-size: 20px;
				line-height: 36px;
				font-weight: 700;
			}

			p {
				font-family: $proxima;
				font-size: 18px;
				line-height: 26px;
			}

			strong {
				font-weight: 700;
			}

			ul {
				padding-left: 22px;

				& > li {
					background: url("../images/bullet-accordion.svg") left 10px no-repeat;
					background-size: 4px 4px;
					padding-left: 10px;
					font-size: 18px;
					line-height: 26px;
				}
			}

			.featured-speakers {
				margin-top: 25px;

				h3 {
					font-size: 18px;
					font-weight: 700;
					text-transform: uppercase;
					font-family: $proxima;
					margin-bottom: 5px;
				}

				.speakers {
					margin-bottom: 25px;

					span {
						font-size: 18px;
						line-height: 26px;
						font-weight: 300;
						display: block;

						&.speaker-name {
							font-weight: 700;
						}
					}
				}
			}

			.visual-editor {
				margin-top: 25px;
			}


		}

		figure.speaker-image {
			text-align: center;
			margin-bottom: 20px;
			width: 220px;

			&:last-child {
				margin-bottom: 0;
			}

			img {
				margin-bottom: 5px;
			}

			figcaption {
				font-size: 18px;
				font-weight: bold;
			}
		}
	}
}

// #15 Knowledge Resources: Mobility Solutions

#page.mobility-solutions {

	#main {
		@include breakpoint(medium) {
			padding-top: 210px !important;
		}
	}

	.detail-main {

		p {
			margin-bottom: 20px;
		}

		.mobility-image {
			margin: 20px 0;

			@include breakpoint(medium) {
				margin: 40px 0;
			}
		}

		.button-white {
			display: inline-block;
			padding-left: 70px;
			padding-right: 70px;
		}
	}

	.overview-sidebar {
		max-width: 210px;

		h2 {
			font-family: $museo;
			font-weight: 700;
			font-size: 20px !important;
			line-height: 22px !important;
			margin-bottom: 15px;		
		}		

		.mobility-sidebar-article {
			margin-bottom: 40px;



			img {
				width: 145px;
				margin-bottom: 10px;
			}

			h1 {
				font-family: $museo;
				font-weight: 700;
				font-size: 14px !important;
				line-height: 19px !important;
				margin-bottom: 15px;			
			}

			.mobility-meta {
				a {
					font-family: $museo;
					font-weight: 700;
					font-size: 13px !important;
					line-height: 18px !important;
					color: $ineoblue;			
				}
			}			
		}
	}
}


// #16 Mobilty Solutions Single 

#single-post.single-mobility {

    clear: left;
    max-width: 100%;
    margin: 0;

	#main {
		padding-left: 15px;
		padding-right: 15px;

		@include breakpoint(medium) {
			padding-left: 280px;
			padding-right: 0;
		}
	}    

	// Secondary Navigation
	.secondary-nav {
		.overview-page {
			display: block;
			font-size: 16px;
			font-weight: 500;
			text-transform: uppercase;
			color: #7e7e7e;				
		}

		.overview-title {
			display: inline-block;
			font-size: 26px; // 29px
			font-weight: 700;
			text-transform: uppercase;
			color: #7e7e7e;
		}

		ul li a {
			color: #7e7e7e;
		}
	}

	// Main Section
	#main {
		background: white;	
		padding-top: 210px;	
		color: #7e7e7e;
		padding-bottom: 200px;

		@include breakpoint(large) {
			padding-left: 280px;	
		}

		.visual-editor {
			img {
				margin: 40px 0;
			}			
		}



		h1 {
			font-family: $museo;
			font-size: 30px;
			font-weight: 700;
			margin-bottom: 3px;
		}

		.service-detail-intro {
			font-size: 20px;
			line-height: 36px;
			font-weight: 500;
			font-family: $museo;
			display: block;
		}

		h2 {
			font-family: $museo;
			font-size: 20px;
			line-height: 20px;
		}

		p {
			font-size: 18px;
			line-height: 26px;
			font-weight: 400;
			margin-bottom: 20px;
		}

		li {
			font-size: 18px;
			line-height: 26px;
		}

		ul {
			padding-left: 22px;

			& > li {
				background: url("../images/bullet-accordion.svg") left 10px no-repeat;
				background-size: 4px 4px;
				padding-left: 10px;

				ul {
					padding-left: 0px;

					& > li {
						position: relative;
						padding-left: 10px;
						background: none;

						&:before {
							position: absolute;
							top: 11px;
							left: 0;
							width: 5px;
							height: 2px;
							background: #868686;
							content: "";
						}
					}
				}


			}
		}

		.blue {
			color: #00b9f2;
			font-weight: 700;
		}

		.button-white {
			display: inline-block;
			padding-left: 70px;
			padding-right: 70px;
		}		
	}

	.overview-sidebar {
		max-width: 210px;
		margin-top: 130px !important;

		h2 {
			font-family: $museo;
			font-weight: 700;
			font-size: 20px !important;
			line-height: 22px !important;
			margin-bottom: 15px;		
		}		

		.mobility-sidebar-article {
			margin-bottom: 40px;



			img {
				width: 145px;
				margin-bottom: 10px;
			}

			h1 {
				font-family: $museo;
				font-weight: 700;
				font-size: 14px !important;
				line-height: 19px !important;
				margin-bottom: 15px;			
			}

			.mobility-meta {
				a {
					font-family: $museo;
					font-weight: 700;
					font-size: 13px !important;
					line-height: 18px !important;
					color: $ineoblue;			
				}
			}			
		}
	}		
}

// #17 Knowledge Resources: Tax Updates

#page.tax-updates {

	#main {
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 0;

		@include breakpoint(medium) {
			padding-left: 0 !important;
			padding-right: 0;
		}		
		

		.tax-updates-title {
			@include breakpoint(large) {
				padding-left: 280px;
			}
		}

		.tax-update {
			padding-top: 65px;
			padding-bottom: 65px;

			@include breakpoint(large) {
				padding-left: 280px;
			}

			&:nth-child(1) {
				background: blue !important;
			}

			&:nth-child(odd) {
				background: #f3f3f3;
			}

			h2 {
				font-size: 20px;
				line-height: 28px;
				font-family: $museo;
				font-weight: 500;
				margin-bottom: 30px;
			}

			p {
				font-family: $proxima;
				font-size: 16px;
				line-height: 22px;;
			}

			ul {
				padding-left: 22px;

				& > li {
					background: url("../images/bullet-accordion.svg") left 10px no-repeat;
					background-size: 4px 4px;
					padding-left: 10px;
					font-size: 16px;
					line-height: 22px;
					margin-bottom: 15px;

					ul {
						padding-left: 0px;

						& > li {
							position: relative;
							padding-left: 10px;
							background: none;

							&:before {
								position: absolute;
								top: 11px;
								left: 0;
								width: 5px;
								height: 2px;
								background: #868686;
								content: "";
							}
						}
					}


				}
			}

			.button-white {
				display: inline-block;
				padding-left: 70px;
				padding-right: 70px;
			}			
		}
	}
}

// #17 Knowledge Resources: Subject Matters 
#page.subject-matters {		

	#main {

		padding-left: 15px;
		padding-right: 15px;

		@include breakpoint(medium) {
			padding-left: 280px;
			padding-right: 0;
			padding-top: 210px;
		}

		.detail-main {

			&>.row {
				margin: 10px 0;
			}

			h1.article-title {
				margin-bottom: 20px;
				margin-top: 5px;
			}

			.auth-image {
				width: 130px;
			}

			.author-info {
				margin-top: 15px;

				@include breakpoint(medium) {
					margin-left: 10px;
				}
				
				span, a {
					display: block;
					font-size: 16px;
					line-height: 20px;
					color: $graytext;

					&:first-child {
						font-weight: 700;
					}
				}

				img {
					max-width: 245px;
					margin-top: 10px;
					height: 70px;
				}
			}

			.back-to-top {
				display: block;
				margin-top: 8px;
				color: $ineoblue !important;
				font-weight: 500;
				font-family: $museo;
				font-size: 14px;
				cursor: pointer;
			}
		}

		.overview-sidebar {

			margin-top: 0;

			@include breakpoint(medium) {
				margin-top: 160px;
			}

			h2 {
				font-size: 20px;
				line-height: 28px;
				font-family: $museo;
				font-weight: 700;
				margin-bottom: 30px;
			}

			.sidebar-article {

				h1 {
					font-size: 20px;
					line-height: 28px;
					font-family: $museo;
					font-weight: 500;					
				}

				.sidebar-article-author {
					font-size: 16px;
					line-height: 20px;
					margin-bottom: 30px;

					span {
						display: block;

						&.author-title {
							font-weight: 700;							
						}
					}
				}

				.sidebar-excerpt {

					p {
						font-size: 16px !important;
						line-height: 20px !important;
						margin-bottom: 15px;
						font-family: $proxima !important;

						.more-link {
							font-family: $museo;
							font-weight: 700;
							font-size: 13px !important;
							line-height: 18px !important;
							color: $ineoblue;
							display: block;
							margin-top: 15px;							
						}
					}
				}

				.sidebar-article-meta {
					a {
						font-family: $museo;
						font-weight: 700;
						font-size: 13px !important;
						line-height: 18px !important;
						color: $ineoblue;			
					}					
				}
			}
		}
	}
}

// #18 Subject Matters Single 

#single-post.single-subject-matters {

    clear: left;
    max-width: 100%;
    margin: 0;

	// Secondary Navigation
	.secondary-nav {
		.overview-page {
			display: block;
			font-size: 16px;
			font-weight: 500;
			text-transform: uppercase;
			color: #7e7e7e;				
		}

		.overview-title {
			display: inline-block;
			font-size: 26px; // 29px
			font-weight: 700;
			text-transform: uppercase;
			color: #7e7e7e;
		}

		ul li a {
			color: #7e7e7e;
		}
	}

	// Main Section
	#main {
		background: white;	
		padding-top: 105px;	
		color: #7e7e7e;
		padding-bottom: 200px;

		@include breakpoint(large) {
			padding-top: 210px;			
			padding-left: 280px;	
		}

		.subject-main > .row {
			margin: 10px 0;
		}

		h1.article-title {
			font-family: $museo;
			font-size: 30px;
			font-weight: 700;
			margin-bottom: 5px;
			margin-top: 5px;
		}		

		.auth-image {
			width: 130px;
		}		

		.author-info {
			margin-top: 15px;

			@include breakpoint(medium) {
				margin-left: 10px;
			}

			span {
				display: block;
				font-size: 16px;
				line-height: 20px;

				&:first-child {
					font-weight: 700;
				}
			}
		}		

		.visual-editor {
			img {
				margin: 40px 0;
			}			
		}



		h1 {
			font-family: $museo;
			font-size: 30px;
			font-weight: 700;
			margin-bottom: 3px;
		}

		.service-detail-intro {
			font-size: 20px;
			line-height: 36px;
			font-weight: 500;
			font-family: $museo;
			display: block;
		}

		h2 {
			font-family: $museo;
			font-size: 20px;
			line-height: 20px;
		}

		p {
			font-size: 18px;
			line-height: 26px;
			font-weight: 400;
			margin-bottom: 20px;
		}

		li {
			font-size: 18px;
			line-height: 26px;
		}

		ul {
			padding-left: 22px;
			margin-bottom: 25px;

			& > li {
				background: url("../images/bullet-accordion.svg") left 10px no-repeat;
				background-size: 4px 4px;
				padding-left: 10px;

				ul {
					padding-left: 0px;

					& > li {
						position: relative;
						padding-left: 10px;
						background: none;

						&:before {
							position: absolute;
							top: 11px;
							left: 0;
							width: 5px;
							height: 2px;
							background: #868686;
							content: "";
						}
					}
				}


			}
		}

		.blue {
			color: #00b9f2;
			font-weight: 700;
		}

		.button-white {
			display: inline-block;
			padding-left: 70px;
			padding-right: 70px;
		}		
	}


		.overview-sidebar {
			max-width: 210px;

			@include breakpoint(medium) {
				margin-top: 160px;
			}

			h2 {
				font-size: 20px;
				line-height: 28px;
				font-family: $museo;
				font-weight: 700;
				margin-bottom: 30px;
			}

			.sidebar-article {
				margin-top: 30px;

				h1 {
					font-size: 20px !important;
					line-height: 28px;
					font-family: $museo;
					font-weight: 500 !important;					
				}

				.sidebar-article-author {
					font-size: 16px;
					line-height: 20px;
					margin-bottom: 30px;

					span {
						display: block;

						&.author-title {
							font-weight: 700;							
						}
					}
				}

				.sidebar-excerpt {

					p, span {
						font-size: 16px !important;
						line-height: 20px !important;
						margin-bottom: 15px;
						font-family: $proxima !important;

						.more-link {
							font-family: $museo;
							font-weight: 700;
							font-size: 13px !important;
							line-height: 18px !important;
							color: $ineoblue;
							display: block;
							margin-top: 15px;							
						}
					}
				}

				.sidebar-article-meta {
					a {
						font-family: $museo;
						font-weight: 700;
						font-size: 13px !important;
						line-height: 18px !important;
						color: $ineoblue;			
					}					
				}
			}
		}		
}

// #19 Contact Us

#page.contact-us {

	background: url("../images/lines.png") 0px -75px no-repeat;
	//background-size: cover;
	background-size: auto 1000px;

	@include breakpoint(medium) {
		background-position: -20px -100px;
		background-size: auto 1200px;
	}

	@include breakpoint(medium-large) {
		background-position: -20px -110px;
		background-size: auto 1200px;				
	}

	.contact-overview {
		margin-bottom: 175px;

		@include breakpoint(medium) {
			margin-bottom: 230px;
		}

		@include breakpoint(medium) {
			margin-bottom: 70px;
		}

		h2 {
			font-size: 22px;
			font-family: $museo;
			font-weight: 700;
			margin-bottom: 10px;
		}

		.form-overview {
			margin-top: 0;
			margin-bottom: 45px;

			label {
				text-align: left;
			}

			input[type="submit"] {
				width: 100%;
				margin: 0 !important;
			}

			textarea {
				height: 262px;
			}
		}

		.contact-content {

			h2 {
				margin-bottom: 5px;
			}
		}		
	}
}

// #20 Privacy Policy

#page.privacy-policy {
	background: #c3c7cb;

	#main {
		clear: left;
		width: 100%;
		padding-top: 200px;
		padding-bottom: 200px;

		h1 {
			font-size: 32px;
			font-family: $museo;
			color: white;
			margin-bottom: 40px;
			font-weight: 700;

			&.page-title {
				margin-bottom: 0;
			}
		}

		h2 {
			font-size: 24px;
			font-family: $museo;
			color: white;
			margin-bottom: 40px;
			font-weight: 700;
		}

		h3 {
			font-size: 20px;
			font-family: $museo;
			color: white;
			margin-bottom: 20px;
			font-weight: 700;			
		}

		p {
			font-size: 18px;
			line-height: 26px;
			margin-bottom: 40px;
			color: #706f6f;
		}

		a {
			color: black;
		}

		ul {
			padding-left: 22px;

			& > li {
				list-style-type: disc;
				padding-left: 10px;
				color: #706f6f;
				font-size: 18px;
				line-height: 26px;

				ul {
					padding-left: 0px;

					& > li {
						position: relative;
						padding-left: 10px;
						background: none;

						&:before {
							position: absolute;
							top: 11px;
							left: 0;
							width: 5px;
							height: 2px;
							background: #868686;
							content: "";
						}
					}
				}

			}
		}

	}
}

// #21 News

#page.news {

	// Secondary Navigation
	.secondary-nav {
		.overview-page {
			display: block;
			font-size: 16px;
			font-weight: 500;
			text-transform: uppercase;
			color: #7e7e7e;				
		}

		.overview-title {
			display: inline-block;
			font-size: 26px; // 29px
			font-weight: 700;
			text-transform: uppercase;
			color: #7e7e7e;
		}

		ul li a {
			color: #7e7e7e;
		}
	}	

	#main {
		background: white;	
		padding-top: 105px;
		color: #7e7e7e;
		padding-bottom: 0;

		@include breakpoint(medium) {
			padding-top: 210px;	
		}

		.page-title {

			@include breakpoint(large) {
				padding-left: 280px;
			}

			h1 {
				font-size: 30px;
				font-weight: 700;
				font-family: $museo;
				line-height: 36px;
			}
		}

		.news-post {
			padding-top: 40px;
			padding-bottom: 40px;

			@include breakpoint(large) {
				padding-left: 280px;
				background: white;
			}

			&:nth-child(odd) {
				background: #f7f7f7;
			}

			h2 {
				font-family: $museo;
				font-size: 20px;
				line-height: 28px;
				font-weight: 700;
			}

			time {
				color: $ineoblue;
				font-family: $museo;
				font-weight: 500;
				font-size: 14px;
				margin-bottom: 30px;
				display: block;
			}

			p {
				margin-bottom: 25px;
				line-height: 22px;

				&:last-child {
					margin-bottom: 0;
				}
			}

			img {
				margin-bottom: 25px;

				@include breakpoint(medium) {
					margin-bottom: 0;
				}				
			}

			figure.block-image {
				float: left;
				max-width: 245px;
				margin-right: 20px;


				&:last-child {
					margin-right: 0;
				}
			}
		}
		
	}	
}

// #23 404

body.error404 {

	#main {
		background: white;
		padding-top: 40px;
		min-height: 400px;
		color: $graytext;

		@include breakpoint(medium) {
			padding-left: 40px;
			padding-top: 210px;
			padding-bottom: 210px;
		}

		h1 {
			font-family: $museo;
			font-size: 36px;
			font-weight: 700;
		}

		h2 {
			font-family: $proxima;
			font-size: 20px;
			font-weight: 700;
			margin-bottom: 10px;			
		}

		p {
			font-family: $proxima;
			font-size: 18px;
			line-height: 24px;
			margin-bottom: 25px;
		}


		ul {
			padding-left: 22px;

			& > li {
				background: url("../images/bullet-accordion.svg") left 10px no-repeat;
				background-size: 4px 4px;
				padding-left: 10px;
				line-height: 22px;

				ul {
					padding-left: 0px;

					& > li {
						position: relative;
						padding-left: 10px;
						background: none;

						&:before {
							position: absolute;
							top: 11px;
							left: 0;
							width: 5px;
							height: 2px;
							background: #868686;
							content: "";
						}
					}
				}


			}
		}
	}
}


.down-arrow {
	position: absolute;
	bottom: 0px;
	left: 50vw;
	@include transform(translate(-110px, 0));
	text-align: center;
	width: 222px;
	transition: 0.75s cubic-bezier(1, 0, 0, 1);
	z-index: 3;

	span {
		font-size: 24px;
		font-weight: 700;
		color: white;
		display: inline-block;
		margin-bottom: 20px;
	}

	img {
		opacity: 0.8;
	}
}

.down-arrow[data-active="off"] {
   @include transform(translate(-110px, 150px));
}
