/* Mixins TOC

	#1. Media Queries

*/


/* #1 Media Queries */

@mixin breakpoint($point) {
  @if $point == medium {
    @media (min-width: $medium) { @content; }
  }
  @elseif $point == medium-large {
    @media (min-width: $medium-large) { @content; }
  }  
  @elseif $point == large {
    @media (min-width: $large) { @content; }
  }
  @elseif $point == xlarge {
    @media (min-width: $xlarge) { @content; }
  }     
  @elseif $point == xxlarge {
    @media (min-width: $xxlarge) { @content; }
  }      
}