/* Variables TOC

	#1 Grid
	#2 Colors

*/

/* #1 Grid */
$medium: 640px;
$medium-large: 900px;
$large: 1024px;
$xlarge: 1280px;
$xxlarge: 1440px;

/* #2 Colors */
$darkblue: hsla(213, 73%, 15%, 1);
$ineoblue: hsla(196, 100%, 47%, 1);
$teal: hsla(175, 49%, 52%, 1);
$yellow: hsla(49, 100%, 50%, 1);
$green: hsla(72, 64%, 52%, 1);
$forminput: hsla(219, 14%, 59%, 1);
$formerror: hsla(45, 100%, 50%, 1);
$graytext: #7e7e7e;


/* #3 Fonts */

$proxima: "proxima-nova",sans-serif;
$museo: "museo-slab", serif;