body {
	background: white;
}

h1,h2,h3,h4,h5,h6,p {
	margin-bottom: 15px;
}

ul {
	padding-left: 20px;
}

ul li {
	margin-left: 5px;
	list-style: disc;
	line-height: 22px;
}

/* Headings */

h1 {
	font-size: 28px;
	font-family: "Times New Roman", serif;
	font-weight: bold;
}

h2 {
	font-size: 24px;
	font-family: "Times New Roman", serif;
	font-weight: bold;
}

h3 {
	font-size: 20px;
	font-family: "Times New Roman", serif;
	font-weight: bold;
}

p {
	line-height: 22px;
}

.museo-font {
	font-family: "Times New Roman", serif;
}

.asterisk {
	font-size: 13px !important;
}

.tax-qa-hours {
	font-size: 26px;
	font-weight: bold;
	display: block;
}

.tax-qa-hours-answered {
	font-size: 16px;
	font-weight: 300;
}

.tax-qa-price {
	font-size: 35px;
	font-weight: bold;
	display: block;	
}

.intro-heading {
	font-size: 22px;
	font-family: "Times New Roman", serif;
}

.contact-us-name {
	font-size: 18px;
	font-family: "Times New Roman", serif;	
}

.contact-us-phone {
	font-size: 20px;
	font-weight: bold;
}

/* Footer Contact headings */

.footer-contact-heading {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 12px;
	display: block;
	border-bottom: solid 1px yellow;
	padding-bottom: 2px;
	margin-bottom: 0;
}

.footer-address-wrapper {
	margin: 13px 0;
}

.article-intro {
	font-size: 20px;
	line-height: 36px;
	font-weight: 500;
	font-family: "Times New Roman", serif;
	display: block;
}


/* Sidebar Styles */

.tax-guide-description {
	font-size: 16px;
	line-height: 22px;
}

.sidebar-phone-number {
	font-size: 20px;
	font-weight: 700;
}

.blue {
	color: hsla(196, 100%, 47%, 1);
}

.registration-closed {
	font-family: "Times New Roman", serif;
	color: hsla(196, 100%, 47%, 1);
}


